@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
  h3.project_card_title {
    text-align: center;
    font-weight: 700;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    margin: 15px 0;
}
.project_card {
  position: relative;
}
.project_card_content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease all;
}
.project_card:hover .project_card_content {
  opacity: 1;
  transition: 0.5s ease all;
}